.bg-hui{
  background-color: #f5f2f2;
}
.bg-huang{
	background-color: #f7ab00;
}
.bg-cheng{
  background-color: #ed6d00;
}
.bg-zhong{
  background-color:#7b594a;
}
.bg-fooder{
  background-color:#b5ab9f;
}
.bg-bai{
	background-color: #fff;
}
.bg-dblue{
	background-color: #0d2c54;
}