.column-tit{
	display: block;
	position: relative;
	border-bottom: 1px solid #0d2c54;
	width: 440px;
	height: 24px;
	.font24;
	z-index: 9;
	text-align: center;
	margin: 12px auto;
}
.column-tit .tit-text{
	display: inline-block;
	position: relative;
	top: 12px;
	padding: 0 54px;
	z-index: 99;
	margin: 0 auto;
	.bg-hui;
}
.locatebox{
	display: block;
	overflow: hidden;
	background: #b4b5b7;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color: #fff;
	span.arrow{
		margin: 0 18px;
	}
	i.icon{
		display: block;
		overflow: hidden;
		width: 24px;
		height: 24px;
		margin-top: 7px;
		margin-right: 8px;
		img{
			width: 100%;
		}
	}
}