.animation-sx {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.animation-sx:hover .animation-sx-item {
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}
.animation-ydz {
  -moz-transition: transform 0.2s linear 0s;
  -o-transition: transform 0.2s linear 0s;
  -webkit-transition: transform 0.2s linear 0s;
  transition: transform 0.2s linear 0s;
}
.animation-ydz:hover {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}
.animation-ydy {
  -moz-transition: transform 0.2s linear 0s;
  -o-transition: transform 0.2s linear 0s;
  -webkit-transition: transform 0.2s linear 0s;
  transition: transform 0.2s linear 0s;
}
.animation-ydy:hover {
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}
.animation-soux img {
  transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -webkit-transition: all .6s;
}
.animation-soux:hover img {
  transform: scale(0.95);
  -ms-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.bg-hui {
  background-color: #f5f2f2;
}
.bg-huang {
  background-color: #f7ab00;
}
.bg-cheng {
  background-color: #ed6d00;
}
.bg-zhong {
  background-color: #7b594a;
}
.bg-fooder {
  background-color: #b5ab9f;
}
.border {
  border: #ddd solid 1px;
}
.border-t {
  border-top: #ddd solid 1px;
}
.border-r {
  border-right: #ddd solid 1px;
}
.border-b {
  border-bottom: #ddd solid 1px;
}
.border-l {
  border-left: #ddd solid 1px;
}
.border-c1 {
  border-top: #2c3444 4px solid;
  border-right: #ddd 1px solid;
  border-left: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
}
.border-xb {
  border-bottom: dashed #ddd 1px;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1px;
  box-sizing: border-box;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-primary {
  color: #fff;
  background-color: #0d2c54;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
}
.btn-warning {
  color: #fff;
  background-color: #f7ab00;
}
.btn-danger {
  color: #fff;
  background-color: #ed6d00;
}
.btn-code {
  color: #fff;
  background-color: #f7ab00;
  border-color: #1291f1;
}
.column-tit {
  display: block;
  position: relative;
  border-bottom: 1px solid #0d2c54;
  width: 440px;
  height: 24px;
  font-size: 24px;
  z-index: 9;
  text-align: center;
  margin: 12px auto;
}
.column-tit .tit-text {
  display: inline-block;
  position: relative;
  top: 12px;
  padding: 0 54px;
  z-index: 99;
  margin: 0 auto;
  background-color: #f5f2f2;
}
/*! normalize-opentype v0.1.2 | MIT License | kennethormandy.com/journal/normalize-opentype-css */
/**
     * 1. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
     *    Turn off all other ligatures, tabular, lining numerals, and alternates
     */
html,
body {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 1. */
}
/* Headings
    ========================================================================== */
/**
     * 1. Turn on discretionary ligatures for larger headings
     */
h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */
}
/* Text-level semantics
    ========================================================================== */
/**
     * 1. Change all letters to uppercase
     * 2. Turn on small caps for upper and lowercase letters
     */
abbr {
  text-transform: uppercase;
  /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */
}
/*
     * TODO: Turn on diagonal fractions where appropriate
     */
time {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}
/*
     * 1. Turn off kerning and ligatures,
     *    Turn on lining, tabular numerals, slashed zero
     */
pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Turn on proper supercript numerals
     */
sup {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */
}
/**
     * 1. Turn on proper subscript numerals
     */
sub {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */
}
/* Tables
    ========================================================================== */
/**
     * 1. Turns on tabular, lining numerals and slashed zero
     *    Turns off kerning, as it could impact tabular numerals
     */
table {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Revert to defaults for table headings
     */
table thead,
table tfoot {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */
}
/* Forms
    ========================================================================== */
/**
     * 1. Turns on lining, proportional numerals without clarified zeroes
     * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
     */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  font-family: "Microsoft YaHei";
  color: #2c3444;
  font-size: 14px;
  background: #f5f2f2;
}
a {
  color: inherit;
  text-decoration: none;
}
.hover a:hover {
  color: #ed6d00;
  text-decoration: underline !important;
}
.l-left {
  float: left;
}
.l-right {
  float: right;
}
.l-float {
  *zoom: 1;
}
.l-float:before,
.l-float:after {
  display: table;
  content: "";
}
.l-float:after {
  clear: both;
}
.dis-b {
  display: block !important;
}
.dis-i {
  display: inline-block !important;
}
.pos-r {
  position: relative;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font24 {
  font-size: 24px;
}
.font30 {
  font-size: 30px;
}
.fontw6 {
  font-weight: 600;
}
.fontw5 {
  font-weight: 500;
}
.fontw1 {
  font-weight: 100;
}
.ov-text {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.text-hide {
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
}
.col-hei {
  color: #25272a;
}
.col-hui {
  color: #b4b5b7;
}
.col-dhui {
  color: #7c7c7d;
}
.col-huang {
  color: #f7ab00;
}
.col-cheng {
  color: #ed6d00;
}
.col-red {
  color: #ff0023;
}
.col-bai {
  color: #fff;
}
.col-blue {
  color: #2d87d9;
}
.col-dblue {
  color: #0d2c54;
}
.col-lblue {
  color: #1291f1;
}
.text-al {
  text-align: left;
}
.text-ac {
  text-align: center;
}
.text-ar {
  text-align: right;
}
.text-i24 {
  text-indent: 24px;
}
.lh24 {
  line-height: 24px;
}
.lh32 {
  line-height: 32px;
}
input::-webkit-input-placeholder {
  color: #b4b5b7 !important;
}
input:-moz-placeholder {
  color: #b4b5b7 !important;
}
input::-moz-placeholder {
  color: #b4b5b7 !important;
}
input:-ms-input-placeholder {
  color: #b4b5b7 !important;
}
.footer {
  display: block;
  overflow: hidden;
  background-color: #c7cbcc;
  margin-top: 24px;
}
.footer-box {
  padding: 12px 0;
}
.footer-box .foot-logo {
  width: 230px;
  display: block;
  overflow: hidden;
  text-align: center;
}
.footer-box .foot-logo .pic {
  width: 230px;
}
.footer-box .foot-logo .pic img {
  width: 100%;
}
.footer-box .foot-logo > p {
  line-height: 24px;
}
.footer-box .foot-nav {
  display: block;
  overflow: hidden;
  margin-left: 12px;
}
.footer-box .foot-nav li {
  float: left;
  font-size: 20px;
  margin: 48px 18px;
}
.footer-box .foot-cantact {
  line-height: 34px;
  margin: 8px 24px;
}
.footer-box .font-code {
  display: block;
  width: 106px;
  text-align: center;
}
.footer-box .font-code > p {
  line-height: 24px;
}
.footer-box .font-code .pic {
  display: block;
  overflow: hidden;
  width: 84px;
  height: 84px;
  margin: 0 auto;
}
.footer-box .font-code .pic img {
  width: 100%;
}
.copyright {
  background-color: #21394b;
  text-align: center;
  height: 36px;
  line-height: 36px;
}
.container {
  width: 100%;
}
.main {
  width: 1000px;
  margin: 0 auto;
}
.header {
  display: block;
  overflow: hidden;
  background: #fff;
}
.top-nav {
  display: block;
  overflow: hidden;
  height: 28px;
  line-height: 28px;
}
.top-nav .top-link a {
  margin: 0 8px;
}
.l-head-nav {
  display: block;
  overflow: hidden;
  padding: 12px 0 0 0;
}
.l-head-nav .logobox {
  display: block;
  overflow: hidden;
  width: 250px;
  height: 60px;
  float: left;
}
.l-head-nav .logobox img {
  height: 100%;
}
.l-head-nav .locate-box {
  display: block;
  overflow: hidden;
  float: left;
  width: 68px;
  margin: 0 24px;
}
.l-head-nav .locate-box input {
  width: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  border: 0;
  background: url(../../Image/PCSite/locate-arrow.png) right center no-repeat;
  margin: 8px 0;
}
.l-head-nav .locate-box img {
  width: 100%;
  vertical-align: top;
}
.nav-box {
  display: block;
  overflow: hidden;
  float: left;
}
.nav-box li {
  display: block;
  float: left;
  color: #0d2c54;
  width: 104px;
  text-align: center;
  height: 70px;
  line-height: 70px;
  box-sizing: border-box;
}
.nav-box li.active,
.nav-box li:active,
.nav-box li:hover {
  border-bottom: 2px solid #21394b;
}
/* 城市选择 */
.hzw-city-picker {
  position: absolute;
  border: 1px solid #c9cbce;
  width: 362px;
  background: #ffffff;
  z-index: 999999;
  font-size: 0;
  box-sizing: border-box;
}
.hzw-city-picker:before,
.hzw-city-picker:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  position: absolute;
  left: 20px;
  z-index: 999999;
}
.hzw-city-picker:before {
  border-color: transparent transparent #ffffff;
  top: -20px;
  z-index: 9999999;
}
.hzw-city-picker:after {
  border-color: transparent transparent #c9cbce;
  top: -20px;
}
.hzw-city-picker * {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  color: #666666;
  font-family: "Microsoft YaHei";
  font-size: 12px;
}
.hzw-city-picker ul {
  list-style: none;
}
.hzw-city-picker ul li {
  display: inline-block;
  position: relative;
  margin: 4px;
  cursor: pointer;
}
.hzw-city-picker p {
  font-weight: bold;
  padding: 0 4px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.hzw-city-picker .line {
  width: 342px;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #d8d8d8;
}
/*热门城市*/
.hzw-city-picker .hzw-hot-wrap {
  width: 100%;
  background: #ffffff;
  padding: 9px;
}
.hzw-city-picker .hzw-hot-wrap ul li {
  width: 58px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #666666;
  background-color: #f5f5f5;
}
.hzw-city-picker .hzw-hot-wrap ul li:hover {
  color: #ed6d00;
}
/*选择省份*/
.hzw-city-picker .hzw-wrap {
  position: relative;
  width: 100%;
  background: #ffffff;
  padding: 9px;
}
.hzw-city-picker .hzw-province-name {
  display: inline-block;
  width: 58px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  position: relative;
  background-color: #f5f5f5;
}
.hzw-city-picker .hzw-province-name:hover {
  color: #ed6d00;
}
.hzw-city-picker .hzw-province.active {
  z-index: 999999999;
}
.hzw-city-picker .hzw-province-name.active {
  border: 1px solid #D8D8D8;
  border-bottom-color: #ffffff;
  color: #ed6d00;
  background-color: #ffffff;
}
.hzw-city-picker .hzw-city-wrap {
  display: none;
  border: 1px solid #D8D8D8;
  background: #ffffff;
  position: absolute;
  top: 27px;
  width: 328px;
  padding: 10px;
}
.hzw-city-picker .hzw-city {
  width: 58px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #999999;
  background-color: #f5f5f5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hzw-city-picker .hzw-city:hover {
  color: #ed6d00;
}
.form-horizontal {
  padding-top: 1px;
}
.form-horizontal .form-group {
  padding-top: 10px;
  padding-bottom: 10px;
  *zoom: 1;
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: "";
}
.form-horizontal .form-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  margin-bottom: 0;
  height: 34px;
  line-height: 34px;
  text-align: right;
  width: 150px;
  font-size: 16px;
}
.form-horizontal .control-label .red {
  color: #f00;
}
.form-horizontal .form-control {
  display: block;
  height: 34px;
  width: 100%;
  padding: 0 8px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-horizontal .form-control:focus {
  outline: none;
  border: 1px solid #0BC4E2;
  -webkit-box-shadow: 0 0 4px rgba(18, 205, 214, 0.8);
  box-shadow: 0 0 4px rgba(18, 205, 214, 0.8);
}
.form-horizontal .textarea textarea {
  height: auto;
}
.form-horizontal .w800 {
  width: 800px;
  padding-left: 10px;
  float: left;
}
.form-horizontal .w600 {
  width: 600px;
  padding-left: 10px;
  float: left;
}
.form-horizontal .w400 {
  padding-left: 10px;
  width: 400px;
  float: left;
}
.form-horizontal .w110 {
  width: 110px;
  float: left;
  margin-right: 10px;
}
.form-horizontal label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.form-horizontal input[type=checkbox],
.form-horizontal input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}
.form-horizontal input[type=checkbox],
.form-horizontal input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.form-horizontal .text {
  padding-top: 6px;
  line-height: 20px;
}
.form-horizontal .right-tag {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
.form-horizontal .right-tag a:hover {
  color: #ed6d00;
  text-decoration: underline;
}
.form-horizontal .right-tag .lan {
  color: #2193db;
}
.form-horizontal .right-tag .red {
  color: #f00;
}
.form-horizontal .right-tag .hui {
  color: #ccc;
}
.form-horizontal .checkbox,
.form-horizontal .radio {
  min-height: 32px;
  line-height: 32px;
}
.checkbox label,
.radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  position: absolute;
  margin-top: 4px\9;
  margin-left: -20px;
  margin-top: 10px;
}
.checkbox-inline,
.radio-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}
.textbox {
  padding: 0 4px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  border: #ddd solid 1px;
}
.pd4 {
  padding: 4px 0;
}
.pd10 {
  padding: 10px 0;
}
.pd20 {
  padding: 20px 0;
}
.pdt36 {
  padding-top: 36px;
}
.pdl10 {
  padding-left: 10px;
}
.pdl20 {
  padding-left: 20px;
}
.pdl52 {
  padding-left: 52px;
}
.pdr10 {
  padding-right: 10px;
}
.pdr20 {
  padding-right: 20px;
}
.pdb4 {
  padding-bottom: 4px;
}
.pdl4 {
  padding-left: 4px;
}
.pdr4 {
  padding-right: 4px;
}
.pdb30 {
  padding-bottom: 30px;
}
.pdt10 {
  padding-top: 10px;
}
.margin0 {
  margin: 0 auto;
}
.margin210 {
  margin: auto 210px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mb0 {
  margin: 0 !important;
}
.mb4 {
  margin-bottom: 4px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb16 {
  margin-bottom: 16px;
}
.mb26 {
  margin-bottom: 26px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.ml10 {
  margin-left: 10px;
}
.mr24 {
  margin-right: 24px !important;
}
.mr54 {
  margin-right: 54px;
}
.register {
  display: block;
  overflow: hidden;
}
.signbox {
  display: block;
  overflow: hidden;
  width: 800px;
}
.signform {
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.signform .sign-input {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #2d87d9;
  border-radius: 4px;
  background: #fff;
  height: 44px;
  box-sizing: border-box;
}
.signform .sign-input input {
  display: block;
  border: 0;
  width: 100%;
  height: 42px;
  outline: none;
  text-indent: 12px;
  color: #25272a;
}
.signform .confirmbox {
  display: block;
  overflow: hidden;
  width: 380px;
  margin: 0 auto 12px auto;
}
.signform .confirmbox > a.btn-code {
  display: inline-block;
  float: left;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  line-height: 44px;
  margin-left: 20px;
  width: 140px;
}
.signform .confirmbox > a:hover.btn-code {
  background-color: #ed6d00;
}
.signform .agreement {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 380px;
  margin-bottom: 12px;
}
.signform .agreement input[type="checkbox"] {
  float: left;
}
.signform .agreement p {
  line-height: 18px;
}
.signform .agreement p > a:hover {
  text-decoration: underline;
}
.signform a.sign {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  width: 200px;
  height: 34px;
  line-height: 34px;
  margin: 0 auto;
}
.code-box {
  display: block;
  overflow: hidden;
  text-align: center;
  margin-top: 48px;
}
.code-box .code-pic {
  border: 1px solid #1291f1;
  background-color: #fff;
  width: 118px;
  height: 118px;
  margin: 12px auto;
  border-radius: 10px;
  overflow: hidden;
  padding: 8px;
}
.code-box .code-pic img {
  width: 100%;
  vertical-align: top;
}
.w220 {
  width: 220px;
}
.w380 {
  width: 380px;
}
.w1020 {
  width: 1020px;
}
